.btn {
    .ant-btn.ant-btn-primary {
        background: var(--gray-color-e5);
        border: none;
        box-shadow: none;
        float: right;
        width: 100%;
        text-align: right;
    }
}