.categories {
    display: flex;
    &__item {
        margin-right: 30px;
        .anticon {
            margin-left: 7px;
        }
    }
    .ant-input {
        width: 355px;
        border: none;
        outline: none;
    }
    
    .ant-input:focus {
        box-shadow: none;
    }
}