.ant-modal-content {
    border: 1px solid #808080;
    border-radius: 3px;
    text-align: center;
    width: 800px;
    height: 377px;
    p {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600;
    }
    .ant-btn {
        background-color: var(--primary-color);
        color: var(--white-color);
        border-radius: 5px;
        &:active {
            border: none;
        }
    }
    .ant-upload.ant-upload-drag {
        background: none;
        border: none;
    }
}
.ant-modal-close {
    top: -12px;
    right: -10px;
}
.ant-modal-mask {
    background-color: unset;
}
.ant-modal-footer {
    display: none;
}