.ant-layout-header {
        background: $primary-color; 
        padding: 0 30px;  
    .header {
        display: flex;
        justify-content: space-between;
        height: 100%;
        &__logo {
            width: 130px;
            height: 100%;
            object-fit: cover;
        }
        &__action {
            float: right;
            margin-right: 20px;
            padding: 10px;
            &--hello, &--name {
                display: block;
                color: $white-color;
                line-height: 23px;
                text-align: right;
            }
            .ant-btn-text {
                padding: 0;
                border: none;
            }
            &--name {
                font-size: 17px;
                cursor: pointer;
            }
            .ant-dropdown-link {
                line-height: 10px;
            }
        }
    }
}