.ant-layout-header {
    padding: 0;
    .header {
        display: flex;
        justify-content: space-between;
        height: 100%;
        &__logo {
            width: 130px;
            height: 100%;
            object-fit: cover;
        }
        &__action {
            float: right;
            margin-right: 20px;
            padding: 7px 10px 10px 10px;
            &--hello, &--name {
                display: block;
                color: var(--white-color);
                line-height: 23px;
                text-align: right;
            }
            .ant-btn-text {
                padding: 0;
                border: none;
            }
            &--name {
                font-size: 17px;
                cursor: pointer;
            }
            .ant-dropdown-link {
                line-height: 10px;
            }
        }
    }
    .dropdown {
        width: 300px;
    }
    .ant-dropdown-menu-item {
        &:hover {
            background-color: none;
        }
    }
}
.avatar {
    text-align: center;
    padding-bottom: 20px;
    font-size: 17px;
}
.action__dropdown {
    margin: 0 10px;
    display: block;
}

.ant-divider {
    margin: 0
}

.ant-dropdown-menu-item {
    justify-content: center;
}

.ant-dropdown-menu-title-content {
    display: flex;
    align-items: center;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.logout {
    padding: 10px 0;
    text-align: center;
    
}

.menu__color {
    width: 200px;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgb(237, 242, 249);
    border-radius: 5px;
    left: -70%;
    top: -35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
