@import '~antd/dist/antd.css';

$white-color: #fff;
$primary-color: #7C0340;
$gray-color-ea: #EAEAEA;
$gray-color-e5: #E5E5E5;

.ant-layout-item {
    padding: 30px;
}

.container {
    background: $white-color;
    padding: 24px 24px 24px 50px;
    border-radius: 5px;
    border: 2px solid #EDF2F9;
    position: relative;
}

.container .total-record {
    position: absolute;
    right: 200px;
    bottom: 42px;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #757575;
    border-color: #757575;
}

.action-3dot {
    cursor: pointer;
}

@import './header';
@import './sider';
@import './scss components/menu';
@import './scss components/action';
@import './scss components/listEmployee';
@import './scss components/categories';
@import './scss components/pagination';
@import './scss components/breadcrumb';
@import './scss components/table';
@import './content';
@import './scss components/modal';
@import './scss components/createEmployee';
